.Aabout-container {
  width: 100%;
  height: 90vh;
  background: url("../assets/bgAbout.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Acol-about {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

#Aleft-container {
  padding: 50px;
}

.Acol-about h3 {
  position: relative;
  top: 10%;
  left: 10%;
  font-size: 105pt;
  font-weight: 600;
  color: white;
}
.Acol-about h3 span {
  color: #ed1e79;
}
.Acol-about p {
  position: relative;
  font-size: 15pt;
  left: 10%;
  width: 80%;
  top: 10%;
}
.linkTo {
  position: relative;
  bottom: -15%;
  background: #ed1e79;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 800;
  left: 10%;
}
.Acol-about h2 {
  text-align: center;
  font-size: 16pt;
  color: white;
  font-weight: 600;
  position: absolute;
  bottom: 20%;
  left: 0%;
}
.Aname {
  font-weight: 800;
}
.Acol-about #Ap-title {
  bottom: 15%;
  left: 0%;
  font-size: 12pt;
}

#Aabout-featured {
  position: absolute;
  width: 500%;
  text-align: justify;
  left: -200%;
  top: -40%;
}
