.mCard {
  width: 50%;
  padding: 50px;
  height: 50%;
}

.mCardBox {
  justify-content: center;
  align-items: center;
  background-image: none;
  transition: 0.5s;
}
.mCardBox:hover {
  transition: 0.8s;
  background-image: linear-gradient(
    to right top,
    #060930,
    #141137,
    #23153e,
    #321944,
    #401d4a,
    #4d214f,
    #592453,
    #662856,
    #742d59,
    #83325b,
    #91385d,
    #9e3f5e
  );
}

#left-img img {
  width: 100%;
  object-fit: cover;
}

#right {
  padding: 80px 10px;
}

#right h2 {
  font-size: 19pt;
  text-transform: uppercase;
  top: 0%;
  font-weight: 600;
}
#right p {
  font-size: 12pt;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 50px;
}
#right h3 {
  color: white;
  font-size: 14pt;
}

#right a {
  font-size: 19pt;
}
#right h2,
p,
a {
  color: white;
}

@media (max-width: 768px) {
  .mCard {
    padding: 20px;
  }
  #right h2 {
    font-size: 16pt;
  }
  #right p {
    font-size: 10pt;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 60px;
  }
  #right h3 {
    color: white;
    font-size: 10pt;
  }

  #right a {
    font-size: 19pt;
  }
  #right h2,
  p,
  a {
    color: white;
  }
}
@media (max-width: 370px) {
  .mCard {
    width: 90%;
    padding: 10px;
  }
  .mCardBox {
    padding: 15px;
  }
}
