.p-container {
    min-height: 100vh;
    background-color: black;
    max-width: 100%!important;
    position: relative;
    justify-content: center;
    align-items: center;
}

.body-content-row {
    background: black;
    height: 100%;
}
.nav-tabs {
    position: sticky !important;
    top: 20% !important;
    z-index: 100;
    background: black;
    width: 100%;
}
.main-tab, .tab-content {
    position: relative;
    top: 10%;
    
    justify-content: center;
}
.tab-pane h2 {
    position: relative;
    top: 10%;
    color: white;
}
.main-tab a {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}
#body-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
